<ion-header>
  
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
          placeholder="email@gmail.com"
          [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
        <p>Por favor entre com um e-mail válido.</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
          placeholder="Sua senha"
          [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
        <p>Sua senha precisa ter mais que 6 caracteres.</p>
      </ion-item>
      <button ion-button block type="submit">
        Entrar
      </button>
    </form>
    <p text-center>ou</p>
    <button ion-button block color='facebook' (click)="signInWithFacebook()">
      Facebook
    </button>

    <button ion-button block clear (click)="register()">
      Ainda não se cadastrou? Clique aqui
    </button>

    <button ion-button block clear (click)="resetPwd()">
      Esqueci minha senha :(
    </button>
  </ion-content>
  