<ion-header>
  <ion-navbar>
    <ion-title>
      Diário necessário <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" (ionChange)="getGratitudeByDate(date)"></ion-datetime>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="dailyForm" novalidate>
        <p class="text-center">Olá {{ name }} espero que tenha um ótimo dia.</p>    
        <ion-card class="spacer-40">
            <ion-card-header class="text-center">
                O que agradecer hoje
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-textarea #dailyGratitude formControlName="dailyGratitude" (change)="elementChanged(dailyGratitude)"
                        rows="5" type="text" placeholder="Pelo que você é grato no dia de hoje?" value="{{ gratitudeOfTheDay }}"
                        [class.invalid]="!dailyForm.controls.dailyGratitude.valid && (submitAttempt)">                        
                    </ion-textarea>
                </ion-item>
                <ion-item class="error-message" *ngIf="!dailyForm.controls.dailyGratitude.valid  && (submitAttempt)">
                    <p>Por favor escreva algo que você é grato no dia de hoje.</p>
                </ion-item>              
            </ion-card-content>
        </ion-card>

        <ion-card class="spacer-40">
            
            <ion-card-header class="justify-space-between">
                O que realizar amanhã
                <button ion-fab mini (click)="addAction()">+</button>
            </ion-card-header>

            <ion-item [class.invalid]="!todos || todos.length == 0  && (submitAttempt)">
                <ion-input [(ngModel)]="todo" [ngModelOptions]="{standalone: true}" placeholder="Seu plano de ação para o dia de amanhã" type="text"></ion-input>
            </ion-item>

            <ion-list>
                <ion-item-sliding  *ngFor='let t of todos'>
                    <ion-item>
                        {{t.key}}
                    </ion-item>
        
                    <ion-item-options side="right">
                        <button ion-button color="danger" (click)="delete(t)">
                            <ion-icon name="trash"></ion-icon> Deletar
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
                <ion-item class="error-message" *ngIf="!todos || todos.length == 0  && (submitAttempt)">
                    <p>Por favor escreva uma ação para o dia de amanhã.</p>
                </ion-item>  
            </ion-list>

        </ion-card>

        <button class="spacer-40" ion-button full (click)="save(date)">Salvar</button>
    </form>
</ion-content>