page-home {
    .justify-space-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toolbar-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .spacer-40 {
        margin-top: 40px;
    }

    .item {
        background-color: color($colors, light);
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .invalid > .item-inner {
        border-bottom: 1px solid #FF6153 !important;
    }
    
    .error-message .item-inner {
        border-bottom: 0 !important;
    }

    ion-label {
        white-space: normal;
    }
}
