<ion-header>
    <ion-navbar>
      <ion-title>Ações</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3 class="text-center">Ações que podem ser feitas até amanhã ({{ tomorrowString }})</h3>

    <ion-list>
      <ion-item color="light" *ngFor="let t of todoList | async; let i = index;">        
        <ion-label>{{ t.key }}</ion-label>
        <ion-checkbox (click)="toggleCheck(i, t.value)" checked="{{ t.value }}"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>