<ion-header>

  <ion-navbar>
    <ion-title>Esqueci minha senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Resete sua senha</h2>
  <form [formGroup]="resetpwdForm" (submit)="resetPwd()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="email@gmail.com"
        [class.invalid]="!resetpwdForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetpwdForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Por favor insira um e-mail válido.</p>
    </ion-item>
    <button ion-button block type="submit">
      Resetar minha senha
    </button>
  </form>
</ion-content>
